<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
</head>
<body>
    <header>
        <form action="registro de usuario">
            <div>
            <label for="nombre y apellido">nombre y apellido</label>
            <input type="text" name="nombre y apellido" id="nombre y apellido" placeholder="nombre y apellido">
        <small>invalido</small></div>
            <div>
            <label for="nombre de usuario">nombre de usuario</label>
            <input type="text" name="nombre de usuario" id="nombre de usuario" placeholder="nombre de usuario">
        <small>invalido</small></div>
            <div>
                <h4>fecha de nacimiento</h4>
                <input type="date" name="fecha" ></div>
                <div>
            <label for="domicilio">domicilio</label>
            <input type="text" name="domicilio" id="domicilio" placeholder="domicilio">
        <small>invalido</small></div>
            <div>
                <div>
<h4>perfil del comprador</h4>
<input type="radio">
<label for="comprador">comprador</label>
<input type="radio">
<label for="vendedor">vendedor</label>

                </div>
                <h4>categorias de interes</h4>
<select name="categorias de interes" id="categorias de interes">
    <option value="" selected hidden >seleccione su opcion</option>
<option value="1">electro</option>
<option value="2">moda</option>
<option value="3">hogar</option>
<option value="4">jugueteria</option>
<option value="5">vida sana</option>
</select>
<small>obligatorio.</small>
            </div>
            <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="contraseña">
            <small>Obligatorio.</small></div>
            <div>
            <label for="password">confirmar Contraseña</label>
            <input type="password" name="password" id="password" placeholder="confirmar contraseña">
            <small>tu contraseña es invalida</small></div>
            <div>
                <button type="reset">enviar</button>
                <button type="submit">borrar</button>
            </div>
            
            
            
    
            </form>

    </header>
</body>
</html>