*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 5px;
}
.fondo{
    background-color: #EAC926;
    display: inline-block;
    padding: 10px;
}
header img{
    font-family:'Roboto', sans-serif;
    padding-top: 30px;
    padding-left: 25px;
    width: 150px;
    background-color: none;
    color: #03264C;
}

header input{
    margin-top: 20px;
    padding-right: 20px;
    margin-left: 15px;
}

header nav.lupa{
    background-color: white;
    margin-right: 310px;
    margin-left: 15px;
}

.home{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
.home h2{
font-size: 12px;
padding-left: 50px;
margin-bottom: 20px;
margin-top: 20px;
color:rgb(34, 31, 31);
}

li {
    list-style: none;
    margin-left: -5px;
    display: none;
}

a {
    text-decoration: none;
    color:  rgb(34, 31, 31);
    margin-right: 5px; 
    margin-left: -3PX; 
}

header div.burger-menu{
    display: inline-block;
    background-color: #1259c3;
    color: white;
    border-radius: 10%;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
   padding-right: 10px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

main {
    width: 90%;
    text-align: center;
}

.main div h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 10px 0;
}

main img.cafetera{
    width: 350px;
    margin: 10px 0;
}

main img.macbook{
    width: 350px;
    margin: 10px 0;
}

main img.samsung-galaxy-s10 {
    width: 350px;
    margin: 10px 0;
}

main img.SmartTv{
    width: 350px;
    margin: 10px 0;
}
.main div.envio{
    display: inline-block;
    color: #39b54a;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    margin-right: 270px;
}
.main p.precios{
    font-size: 18px;  
    margin-right: 280px;
}
.main p.descuentos{
    font-size: 16px; 
    color: #39b54a;
    margin-right: 260px;
    margin-bottom: 30px;
}

.main h4.descripcion{
    font-size: 16px; 
    margin-right: 180px;
    display: none;
}
.main nav.borde{
border-top: 1px solid #ebebeb;
background-color: white;
border: 15px,15px;
display: inline-block;
margin-bottom: 10px;
padding-left: 12px;
}

.footer{
    text-align: center;
    font-size: 12px; 
    background-color: white;
    margin-bottom: 10px;
}

.footer article i{
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 50px;
    color:#1259c3 ;
}

.footer article h3{
    color:#666;
    margin-top: 1px;
}

.footer article p{
    color: #666;
    margin-top:10px;
}

footer p.texto01{
    padding-top: 30px;
    padding-bottom: 20px;
    color: #666;
    margin-right: 50px;
}

@media (min-width : 361px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body {
        padding: 5px;
    }
    .fondo{
        background-color: #EAC926;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
    }
    header img{
        font-family:'Roboto', sans-serif;
        padding-top: 30px;
        padding-left: 25px;
        width: 200px;
        background-color: none;
        color: #03264C;
    }
    
    header div input{
        margin-top: 10px;
        margin-left: 10px;
    }
    
    header nav.lupa{
        background-color: white;
      margin-left: 200px;
      
    }
    
    .home{
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        background-color: #ebebeb;
    }
    .home h2{
    font-size: 12px;
    margin-right: 5px;
    }
    
    li {
        list-style: none;
        display: block;
    }
    
    a {
        text-decoration: none;
        color:  rgb(34, 31, 31);
        margin-right: 5px; 
        margin-left: -3PX; 
    }
    
    header div.burger-menu{
        display: inline-block;
        background-color: #1259c3;
        color: white;
        border-radius: 10%;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
       padding-right: 10px;
        margin-left: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: none;
    }
    
    main {
        width: 90%;
        text-align: center;
    }
    
    .main div h2{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        padding: 10px 0;
    }
    
    main img.cafetera{
        width: 350px;
        margin: 10px 0;
    }
    
    main img.macbook{
        width: 350px;
        margin: 10px 0;
    }
    
    main img.samsung-galaxy-s10 {
        width: 350px;
        margin: 10px 0;
    }
    
    main img.SmartTv{
        width: 350px;
        margin: 10px 0;
    }
    .main div.envio{
        display: inline-block;
        color: #39b54a;
        font-size: 20px;
        padding: 20px;
        border-radius: 50%;
        border: 1px solid #39b54a;
        margin-right: 270px;
    }
    .main p.precios{
        font-size: 18px;  
        margin-right: 280px;
    }
    .main p.descuentos{
        font-size: 16px; 
        color: #39b54a;
        margin-right: 260px;
        margin-bottom: 30px;
    }
    
    .main h4.descripcion{
        font-size: 16px; 
        margin-right: 180px;
        display: inline;
    }
    .main nav.borde{
    border-top: 1px solid #ebebeb;
    background-color: white;
    border: 15px,15px;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 12px;
    }
    
    .footer{
        text-align: center;
        font-size: 12px; 
        background-color: white;
        margin-bottom: 10px;
    }
    
    .footer article i{
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 50px;
        color:#1259c3 ;
    }
    
    .footer article h3{
        color:#666;
        margin-top: 1px;
    }
    
    .footer article p{
        color: #666;
        margin-top:10px;
    }
    
    footer p.texto01{
        padding-top: 30px;
        padding-bottom: 20px;
        color: #666;
        margin-right: 50px;
    }
}

@media (min-width : 769px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body {
        padding: 5px;
    }
    .fondo{
        background-color: #EAC926;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    header img{
        font-family:'Roboto', sans-serif;
        width: 200px;
        background-color: none;
        color: #03264C;
        margin-bottom: 100px;
    }
    
    header input{
   margin-top:100px ;
   margin-left: 50px;
   
    }
    
    header nav.lupa{
        background-color: white;
       margin-left: 100px;
      
    }
    
    .home{
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        background-color: #ebebeb;
    }
    .home h2{
    font-size: 12px;
    margin-left: 200px;
    }
    
    li {
        list-style: none;
        margin-left: -510px;
        
    }
    
    a {
        text-decoration: none;
        color:  rgb(34, 31, 31);
        margin-right: 5px; 
        margin-left: -3PX; 
    }
    
    header div.burger-menu{
        display: inline-block;
        background-color: #1259c3;
        color: white;
        border-radius: 10%;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
       padding-right: 10px;
        margin-left: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: none;
    }
    
    main {
        width: 90%;
        text-align: center;
    }
    
    .main div h2{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        padding: 10px 0;
        margin-left: 30px;
    }
    
    main img.cafetera{
        width: 350px;
        margin: 10px 0;
    }
    
    main img.macbook{
        width: 350px;
        margin: 10px 0;
    }
    
    main img.samsung-galaxy-s10 {
        width: 350px;
        margin: 10px 0;
    }
    
    main img.SmartTv{
        width: 350px;
        margin: 10px 0;
    }
    .main div.envio{
        display: inline-block;
        color: #39b54a;
        font-size: 20px;
        padding: 20px;
        border-radius: 50%;
        border: 1px solid #39b54a;
        margin-right: 270px;
    }
    .main p.precios{
        font-size: 18px;  
        margin-right: 280px;
    }
    .main p.descuentos{
        font-size: 16px; 
        color: #39b54a;
        margin-right: 260px;
        margin-bottom: 30px;
    }
    
    .main h4.descripcion{
        font-size: 16px; 
        margin-right: 180px;
        display: none;
    }
    .main nav.borde{
    border-top: 1px solid #ebebeb;
    background-color: white;
    border: 15px,15px;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 12px;
    }
    
    .footer{
        text-align: center;
        font-size: 12px; 
        background-color: white;
        margin-bottom: 10px;
    }
    
    .footer article i{
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 50px;
        color:#1259c3 ;
    }
    
    .footer article h3{
        color:#666;
        margin-top: 1px;
    }
    
    .footer article p{
        color: #666;
        margin-top:10px;
    }
    
    footer p.texto01{
        padding-top: 30px;
        padding-bottom: 20px;
        color: #666;
        margin-right: 50px;
    }
}






